*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
#navbar{
    max-width: 1517px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
}
.nav-menu ul{
   list-style: none;
   display: flex;
   gap: 32px;
}
.text{
    font-size: 16px;
}
.text{
    width: 700px;
    height: 60px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 32px;
    
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    
}
.btn2{
    padding: 12px 16px;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    border: none;
    border: 1px solid #fff;
    margin-left: 16px;
}
.btn1{
    padding: 8px 12px;
    background-color: #fff;
    color: #469165;
    border-radius: 20px;
    margin-bottom: 16px;
}

.heading{
    width: 890px;
   
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 16px;
}
#banner{
    background-image: url(../assets/hero-bg.png);
    max-width: 100%;
    height: 674px;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-box{
    padding: 70px 120px 134px;
    max-width: 1360px;
    height: 376px;
    margin: 0 auto;
    text-align: center;
}
