*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
#navbar{
    max-width: 1517px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    
}
.nav-menu ul{
   list-style: none;
   display: flex;
   gap: 32px;
}
.text{
    font-size: 18px;
    line-height: 24px;
}
.text{
    width: 700px;
    height: 60px;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin: 0 auto;
    margin-bottom: 32px;
    
}
.btn{
    padding: 12px 16px;
    background-color: #469165;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);
}
.btn2{
    padding: 12px 16px;
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    border: none;
    border: 1px solid #fff;
    margin-left: 16px;
}
.btn2:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px rgb(0, 0, 0,0.2);
}
.btn1{
    padding: 8px 12px;
    background-color: #fff;
    color: #469165;
    border-radius: 20px;
    margin-bottom: 16px;
}

.heading{
    width: 890px;
    text-transform: capitalize;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 16px;
}
#banner{
    background-image: url(../assets/hero-bg.png);
    max-width: 100%;
    height: 674px;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-box{
    padding: 70px 120px 134px;
    max-width: 1360px;
    height: 376px;
    margin: 0 auto;
    text-align: center;
}
#title-container{
    max-width: 1360px;
    margin: 0 auto;
    justify-items: center;
    padding-top: 60px;
}
.headings{
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    color: #001931;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.text-font{
  font-size: 16px;
  color: #627382;
  margin-bottom: 16px;
}
#card-container{
    padding-top: 44px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-around;
    text-align: center;
}
.card{
    padding: 24px;
    width: 322px;
    box-shadow: #627382 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.07);
}
.card img{
    background-color: #F95555;
    height: 60px;
    width: 60px;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.card h3{
    font-size: 24px;
    color: #001931;
    margin-bottom: 16px;
}
#idea{
    width: 1600px;
    padding: 120px;
    margin: 0 auto;
}
.idea-container{
    display: flex;
    align-items: center;
    gap: 60px;
}
.idea-content{
    max-width: 700px;
}
ul{
    list-style: none;
    color: #001931;
    margin-top: 46px;
}
ul li{
    margin-bottom: 16px;
}
.bonus-container{
    background-color: #F7F6F2;
    max-width: 1360px;
    margin: 0 auto;
    padding: 80px 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer{
    margin-top: 120px;
    padding: 120px 120px 30px;
    background-color: #001931;
    text-align: center;
}
hr{
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;
}